<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - My Blog</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/base.css') }}" />
        <script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>
        {% block head %}
        
        
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{url_for('blog.index')}}"><span class="blogTitle">Just a Blog made with Flask</span></a>
        </header>

        <div id="content">
            {% block content %}
            
            {% endblock %}
        </div>

        <footer>
            By <a href="https://github.com/cris9696/">Cristian Baldi</a>
        <footer/>
    </body>
</html>