{% extends "base.html" %}

{% block title %}All posts{% endblock %}


{% block content %}

{% for post in posts %}
    <div class="postPreview">
        <a class="postTitleLink" href="{{ url_for('.viewPost', postId = post.id, postUrl = post.url) }}">
            <div class="postTitle">
                {{ post.title }}
            </div> 
        </a>
        <div class="postTime">{{ post.time.strftime('%d %b, %H:%M') }}</div>

        <div class="postShortDescription">{{ post.shortDescription }}</div>

        <div class="postBodyShort">{{ post.body|truncate(200) }}</div>
        
        <div class="readMoreButton">
            <a href="{{ url_for('.viewPost', postId = post.id, postUrl = post.url) }}">
                Read More
            </a>
        </div>
    </div>
    <br>
{% else %}
    <div class="postPreview notFound">No post found</div>
{% endfor %}

{% endblock %}
