{% extends "base.html" %}
{% block title %}All posts{% endblock %}


{% block content %}

{% for post in posts %}
    <div class="postPreview">
        <span class="postTitle">
            <a class="postTitleLink" href="{{ url_for('.viewPost', postId = post.id, postUrl = post.url) }}">{{ post.title }}</a>
        </span> 
        <br>
        <span class="postTime">{{ post.time.strftime('%d %b, %H:%M') }}</span>
        <br>
        <span class="postShortDescription">{{ post.shortDescription }}</span>
        <br>
        <span class="postBody">{{ post.body|truncate(200) }}</span>
    </div>
    <br>
{% else %}
    <div class="postPreview notFound">No post found</div>
{% endfor %}

{% endblock %}
