{% extends "base.html" %}

{% block title %}All posts{% endblock %}


{% block content %}

{% for post in posts %}
    <div class="postPreview">
        <a class="postTitleLink" href="{{ url_for('blog.view_post', post_id = post.id, post_url = post.url) }}">
            <div class="postTitle">
                {{ post.title }}
            </div> 
        </a>
        <div class="postTime">{{ post.time.strftime('%d %b, %H:%M') }}</div>

        <div class="postShortDescription">{{ post.short_description }}</div>

        <div class="postBodyShort">{{ post.body|truncate(200) }}</div>
        
        <div class="readMoreButton">
            <a href="{{ url_for('blog.view_post', post_id = post.id, post_url = post.url) }}">
                Read More
            </a>
        </div>
    </div>
    <br>
{% else %}
    <div class="postPreview notFound">No post found</div>
{% endfor %}

    <div class="otherPages">
        {% if page %}
            {% if show_prev %}
                <a class="linkShowNewer" href="{{url_for('blog.show_page',page= page-1)}}">Newer</a>
            {% endif %}

            {% if show_next %}
                <a class="linkShowOlder" href="{{url_for('blog.show_page',page= page+1)}}">Older</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
