{% extends "base.html" %}

{% block title %}
    {{post.title}}
{% endblock %}
    
{% block content %}
    <div class="post">
        <a class="postTitle" href="{{ url_for('blog.view_post', post_id = post.id, post_url = post.url) }}">{{ post.title }}</a>
        <div class="postTime">{{ post.time.strftime('%d %b, %H:%M') }}</div>
        <div class="postShortDescription">{{ post.short_description }}</div>
        <div class="postBody">{{ post.body|markdown }}</div>
        
        {% if tags %}
            <div class="postTagsContainer">
                Tagged With: 
                {% for tag in tags %}
                    <a href="{{ url_for('blog.view_tag',tag = tag) }}"><div class="postTagContainer">{{ tag }}</div></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

