{% extends "base.html" %}

{% block title %}
    {{post.title}}
{% endblock %}
    
{% block content %}
    <div class="post">
        <span class="postTitle">
            <a class="postTitleLink" href="{{ url_for('.viewPost', postId = post.id, postUrl = post.url) }}">{{ post.title }}</a>
        </span> 
        <br>
        <span class="postTime">{{ post.time.strftime('%d %b, %H:%M') }}</span>
        <br>
        <span class="postShortDescription">{{ post.shortDescription }}</span>
        <br>
        <span class="postBody">{{ post.body|markdown }}</span>
    </div>
{% endblock %}

